
.logo{
    height: 4rem;
    
}
a {
    color: #D35357!important;
}
.btn-babydreline{
    background-color: #D35357!important;
    border-color: 4px solid #D35357!important;
}
  .text-body-emphasis {
    color: #FFF; 
  }

.voiture{
    width: 100%;
    height: 20rem;
}
.connexion{
    margin: 2rem 14rem;
    padding: 24em 7rem;
}
.connexion-logo{
    height: 10rem;
    width: 100%;
    margin-bottom: 2rem!important;
}
.piedpage{
    display: flex;
    justify-content: center;
}
.faq-first{
    font-size: xx-large;
    font-style: bold;
    color:#D35357;
}
.faq-page{
    margin: 2rem 10rem;
    padding: 2rem 4rem;
    background-color: #FFF;
}
.text-primary{
    color: #D35357!important;
}
.rendezvous{
    margin-top: 40rem;
}

