
.logo{
    height: 4rem;
    
}
a {
    color: #D35357!important;
}
.btn-babydreline{
    background-color: #D35357!important;
    border-color: 4px solid #D35357!important;
}

  .text-body-emphasis {
    color: #FFF; 
  }